<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBook | Conectando Ideias</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/form.css">
</head>
<body>
    <header>
        <nav class="container">
            <a href="/">
                <div class="logo">DevBook</div>
            </a>
            <div class="nav-auth">
                <a href="" class="btn-profile">{{current_user.name}}</a>
            </div>
        </nav>
    </header>

    <main>
        <section class="profile-container">
            <form id="form-profile" class="profile-form" action="" method="post">
                <h2>Meus Dados</h2>

                <div class="profile-group">
                    <label for="name">Nome:</label>
                    <button type="button" onclick="editProfile('name')">✏️</button>
                    <p id="text-name" class="profile-text">{{current_user.name}}</p>
                    <input id="edit-name" class="profile-edit" type="text" name="nameForm" placeholder={{current_user.name}}>
                </div>

                <div class="profile-group">
                    <label for="mail">Email:</label>
                    <button type="button" onclick="editProfile('mail')">✏️</button>
                    <p id="text-mail" class="profile-text">{{current_user.mail}}</p>
                    <input id="edit-mail" class="profile-edit" type="text" name="mailForm" placeholder={{current_user.mail}}>
                </div>

                <div class="profile-group">
                    <label for="password">Senha:</label>
                    <button type="button" onclick="editProfile('password')">✏️</button>
                    <p id="text-password" class="profile-text">{{current_user.password}}</p>
                    <input id="edit-password" class="profile-edit" type="text" name="passwordForm" placeholder={{current_user.password}}>
                </div>

                <button type="submit" class="profile-submit">Atualizar Dados</button>
                <a href="/logout">Logout</a>
            </form>
        </section>
    </main>

    <script>
        function editProfile(id){
        let edit = document.getElementById("edit-" + id);
        let text = document.getElementById("text-" + id)

        edit.style.display =
            edit.style.display === "block"
            ? "none"
            : "block";
        text.style.display =
            text.style.display === "none"
            ? "block"
            : "none";
        };
    </script>

</body>
</html>