<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - DevBook</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/form.css">
</head>
<body>
    <div class="auth-container">
        <form id="form-cadastro" class="auth-form" action="" method="post">
            <h2>Crie sua conta</h2>
            
            <div class="input-group">
                <label for="name">Nome Completo</label>
                <input type="text" name="nameForm" required placeholder="Ex: João Silva">
            </div>

            <div class="input-group">
                <label for="email">E-mail</label>
                <input type="email" name="mailForm" required placeholder="email@exemplo.com">
            </div>

            <div class="input-group">
                <label for="password">Senha</label>
                <input type="password" name="passwordForm" required placeholder="No mínimo 6 caracteres">
            </div>

            <button type="submit" class="btn-primary full-width">Finalizar Cadastro</button>
            <p class="auth-footer">Já tem conta? <a href="/login">Logar</a></p>
        </form>
    </div>

</body>
</html>